global:
  scrape_interval: 15s
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ['localhost:9090']
  # ── Сбор метрик с Eureka-registered Spring Boot приложений ──
  - job_name: 'eureka-discovery'
    metrics_path: '/actuator/prometheus'          # стандартный путь Micrometer
    scrape_interval: 15s
    eureka_sd_configs:
      - server: http://discovery:8761/eureka
        follow_redirects: true
        enable_http2: true
    # Очень важная часть — relabeling, чтобы Prometheus знал, куда именно стучаться
    relabel_configs:
      - source_labels: [__meta_eureka_app_instance_metadata_prometheus_scrape]
        action: keep
        regex: true

      # Берём путь из метаданных (можно убрать, если везде /actuator/prometheus)
      - source_labels: [__meta_eureka_app_instance_metadata_prometheus_path]
        target_label: __metrics_path__
        regex: (.+)

      # Красивый job label = имя приложения в Eureka
      - source_labels: [__meta_eureka_app_name]
        target_label: job
        replacement: ${1}

      # instance = service-name:port
      - source_labels: [__meta_eureka_app_instance_id]
        target_label: instance