server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-containers
    docker_sd_configs:
      - host: unix:///Users/dmitriyfolomkin/.docker/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
    # Берём только контейнеры с label logging=promtail
      - source_labels: [__meta_docker_container_label_logging]
        regex: promtail
        action: keep

      - source_labels: [__meta_docker_container_name]
        target_label: container

      - source_labels: [__meta_docker_container_label_com_docker_compose_service]
        target_label: service